/* Общие стили для личного кабинета */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

section h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

form button:hover {
    background-color: #5a4fdf;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.back-button:hover {
    background-color: #5a4fdf;
}
